#navBar{
    margin-bottom:88px;
}


#navbarNav ul li a{
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

#navbarNav ul li a:hover{
    color:#F96800;
}

.nav-item active{
    background-color:yellow;
    color:#F96800;
}

nav a {
    font-style: normal;
    color: #000000;
}

#navBrand-name{
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    text-decoration: none;
}

