/*fonts*/
a{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}


.main{
    position: relative;
    background-color:#FEFEFE;
}

.page-title h1{
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-size:60px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom:10px;
    color: #424242;
}

.page-desc p{
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.btn{
    border: none;
    color: #ffffff;
    padding: 12px 16px;
    width: 166px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: #F96800;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}



.ellipses{
    background: linear-gradient(180deg, #FF5E43 0%, #FA982F 100%);
    width: 485px;
    height: 538px;
    border-radius: 50%;
    display: flex;
    justify-content:
    center; align-items:
    center;

}

#img-container{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* bottom page style */
#bottom-page{
    padding:20px;
}

#bottom-page h1{
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 28px;
    font-weight:400;
    line-height: 1.5;
    text-align: center;
    padding:30px;

}

#bottom-page h2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

#bottom-page p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    line-height: 1.8;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.44px;
    color: #000000;
}

#bottom-page .container .card{
    background-color:yellow;
    width:150px;

}






