
.main{
    position: relative;
    background-color:#FEFEFE;

}

.page-title h1{
    font-family: "Righteous";
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 99px;
    margin:0px;
    color: #424242;
}

.page-desc p{

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.btn{
    background-color: yellow;
    border: none;
    color: white;
    padding: 12px 16px;
    width: 166px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: #000000;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
}



.ellipses{
    background: linear-gradient(180deg, #FF5E43 0%, #FA982F 100%);
    width: 485px;
    height: 538px;
    border-radius: 50%;
    margin: auto;
}

.ellipses img{
    position: relative;
    align: center;
    top:90px;
    left:20px;
}


/* bottom page style */
#bottom-page{
    padding:20px;
}

#bottom-page h1{
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-size: 72px;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    padding:30px;

}

#bottom-page h2{
    margin:10px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #000000;
}

#bottom-page p{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    color: #000000;
}


