<!DOCTYPE html>
<html th:fragment="midsection"  xmlns:th="http://www.w3.org/1999/xhtml">

    <link th:href="@{resources/static/css/midsection.css}" rel="stylesheet" />
    <body>
        <div class="container-fluid">
            <div class="container">
                <div class="row" >
                    <div class="col" >
                        <img src="../static/images/people_img_1.png" th:src="@{resources/static/images/people_img_1.png}" />
                        <p>"Instruction was clear and inspiring!! I had a blast! Will be going back again and again."—Kim G.</p>
                    </div>

                    <div class="col" >
                        <img src="../static/images/people_img_2.png" th:src="@{resources/static/images/people_img_2.png}" />
                        <p>"Instruction was clear and inspiring!! I had a blast! Will be going back again and again."—Kim G.</p>
                    </div>
                    <div class="col" >
                        <img src="../static/images/people_img_3.png" th:src="@{resources/static/images/people_img_3.png}" />
                        <p>"Instruction was clear and inspiring!! I had a blast! Will be going back again and again."—Kim G.</p>

                    </div>
                </div>

            </div>

        </div>

    </body>
</html>