<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link th:href="@{resources/static/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

    </head>
    <body>
        <div layout:fragment="content" class="main" >
            <div class="container" id="topPage" >
                <div class="row">
                    <div class="col align-self-center" id="siteDesc-col">
                            <div class="row">
                                <div class="col">
                                    <div class="page-title">
                                        <h1>Art Bar</h1>
                                    </div>
                                </div>
                            </div>

                            <div class="row" >
                                <div class="col">
                                    <div class="page-desc">
                                        <p>The Art Bar offers relaxed, informal painting classes that are fun
                                            for the whole family. We have a variety of paintings that we teach
                                            using Acrylic paints. It's a place where you can let your creativity
                                            flow onto the canvas!
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <button class="btn" type="button" >Learn More</button>
                                </div>
                            </div>
                    </div>

                    <div>
                        <div class="img-container">
                            <div class="ellipses">
                                <img src="../static/images/pg_images/undraw_home.png" th:src="@{resources/static/images/pg_images/undraw_home.png}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:insert="fragments/midsection.html :: midsection (${viewName})" ></div>
            <div class="container" id="bottom-page">
                <h1>FAQ's</h1>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p> The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p>The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p>The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p>The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p>The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>
                        <div class="col">
                            <h2>What is The Art Painting Party like?</h2>
                            <p>The Art Bar Painting Party is a fun for all ages In an upbeat social setting,
                                our instructors will guide you step by step, in recreating the nights featured painting.
                                Event times vary, and we do recommend coming at least 20-30 minutes early to pick your seats,
                                paint, and drinks. We offer your choice of beer, wine, soda, or water.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--        <div>-->
<!--            <div class="container" style="background-color:yellow">-->
<!--                <h1>This is a test div</h1>-->

<!--            </div>-->
<!--        </div>-->
    </body>
</html>